* {
    margin: 0;
    color: white;
    font-family: "Poppins", sans-serif;

}

.menu {

    display: flex;
    width: 100%;
    position: fixed;
    background-image: url(./img/plano.svg);
    background-size: cover;
    align-items: center;

    & ul {
        display: flex;
        gap: 40px;
        padding-bottom: 25px;
        padding-top: 25px;
        font-size: 15px;
        list-style-type: none;


    }

    & a {
        text-decoration: none;
        color: white;
    }
    & .dropdown{
        display: none;
    }

}

.home {
    height: 100vh;
    width: 100%;
    background-image: url(./img/plano.svg);
    background-size: cover;


    & span {
        color: rgb(224, 178, 178);
    }

    & h1 {
        font-size: 60px;
        padding-top: 20%;
        padding-left: 10%;

    }

    & h2 {
        font-size: 30px;
        padding-left: 13%;
        padding-top: 0px;

    }
}

.Sobre {
    display: flex;
    width: 100%;
    color: white;
    background: black;
    align-items: center;

    & button{
        width: 130px;
        height: 40px;
        text-align: center;
        background: rgb(51, 51, 50);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
    }


}

.foto{
    padding-left: 40px;
    
}


.dv {
    padding-left: 2%;
    padding-bottom: 2%;
    justify-items: left;
    text-align: justify;

    & p {
        padding-top: 2%;
        padding-bottom: 40px;
        font-size: 20px;
        text-align: justify;
        margin-right: 40px;
    }

    & h1 {
        font-size: 40px;
        padding-top: 2%;
    }

}


.projetos {
    display: flex;
    background: rgb(12, 12, 12);
    align-items: center;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    padding-top: 20px;


}

.card {
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 365px;
    background: rgb(51, 51, 50);
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(./img/);
    margin-top: 30px;
   

    & h1 {
        padding: 15px;
        text-align: center;
    }

    & p {
        text-align: justify;
        padding: 15px 15px;

    }
    button{
        margin-left: 15px;
        text-decoration: none;
        width: 130px;
        height: 40px;
        text-align: center;
        background: rgb(51, 51, 50);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
    }

    & a{
        text-decoration: none;
    }

}



button img {

    height: 30px;
    width: 30px;

}

button {
    
}

img {
    height: 300px;
    width: 300px;

}

.img h1 {
    margin-left: 20px;
}


footer {
    display: flex;
    flex-direction: column;
    
    text-align: center;
  
    background: black;
    padding: 30px 30px 30px 30px;
   

& p {
    text-align: center;
    font-size: 23px;
    margin-bottom: 25px;
   
}

& span {
    color: rgb(90, 87, 87);
    text-align: center;
    font-size: 20px;

}
}
.social {
    
    gap: 30px;
    
   
& img {
    height: 40px;
    width: 40px;

    
}
}

.projeto{
    background: rgb(12, 12, 12);
    color: white;
    text-align: center;
    padding-top: 20px;
}



@media(max-width:900px) {
    .projetos {

        display: flex;
        flex-direction: column;

        & .card {
            height: 300px;
            border-radius: 10%;
        }

        & h1 {

            text-align: center;
            margin-top: 10px;
        }


    }

    .foto {
        display: none;
    }



    .home span {
        color: rgb(177, 169, 169);
    }

    .home h1 {
        font-size: 40px;
        padding-top: 40%;
        padding-left: 10%;

    }

    .home h2 {
        font-size: 20px;
        padding-left: 13%;
        padding-top: 0px;

    }

    .home {
        height: 80vh;
    }

    .Sobre {
        display: flex;
        width: 100%;
        color: white;
        background: black;
        align-items: center;

        & h1 {
            font-size: 20px;
            margin-top: 10px;

        }

        & p {
            font-size: 15px;
            margin-bottom: 10px;
        }


    }

    .footer {
        padding-top: 0%;

        & p {
            margin-top: 20px;
            font-size: 15px;
            bottom: 10px;
        }


        & img {
            height: 30px;
            width: 30px;
            padding-bottom: 10px;
        }
    }

    .menu{
        background: rgb(0, 0, 0);
        background-image: none;
       & .menuzin{
            display:none;
         }

        & .dropdown{
            display:inline-block;
            position: relative;
            
          
         }

         & a{
            color: black;
            padding: 10px 10px;
            text-decoration: none;
            display: block;
         }

         & .dropbtn {
           
            font-size: 16px;
            border: none;
            cursor: pointer;
            width: 130px;
            height: 40px;
            text-align: center;
            background: rgb(0, 0, 0);
            display: flex;
            align-items:end;
            justify-content:left;
        }

       & .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            right: 0;
          }

          & .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }


         & .dropdown-content a:hover {background-color: #080808}


         & .dropdown:hover .dropdown-content {
            display: block;
          }

    }

}
